*{margin: 0; padding: 0;}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(97, 94, 94);
  padding: 10px 16px;
  margin-bottom: 16px;
}

.navbar-logo{
  color: white;
  font-size: 30px;
}

.navbar-menu{
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 0;
  align-items: center;
}
.navbar-menu li a{
  color: white;
  text-decoration: none;
}
.navbar-menu li a:hover{
  text-decoration: underline;
  color: rgb(241, 62, 62);
}